<div class="card">
	<div class="card-bory">
		<h4>Nova Carona: </h4>
		<form action="/postagens/nova" method="POST"> 
			<label for="veiculo">Veículo: </label>
			<input type="text" name="veiculo" class="form-coontrol">
			<label for="horario">Horário: </label>
			<input type="text" name="horario" class="form-coontrol">
			<label for="vagas">Vagas: </label>
			<input type="text" name="vagas" class="form-coontrol">
			<label for="destino">Destino: </label>
			<input type="text" name="destino" class="form-coontrol">
			<label for="estacionamento">Estacionamento: </label>
			<input type="text" name="estacionamento" class="form-coontrol">
			<button class="btn btn-success" type="submit">Criar Carona</button>
		</form>
	</div>
</div>