<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script type="text/javascript"src="./app.js"></script>

</head>
<body>

    {{#each usuario}}
        <h4>{{ra}}</h4>
    {{/each}}
    <h1>HomeLander</h1>
    <a href="Carro"><button >Adicionar Carro</button></a>
    <a href="Corridas"><button >Corridas</button></a>
    <a href="AdicionarCorridas"><button >Adicionar Corrida</button></a>
    <name=ra value="{{ra}}"></name>
</body>
</html>